@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  #__next {
    @apply bg-fill-with-pattern-main;
    @apply min-h-screen;
    @apply flex;
    @apply flex-col;
    @apply z-10;
    @apply relative;
  }
}

#__next:after {
  content: "";
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-image: url("/Intersect.svg");
  opacity: 5%;
  background-size: 50px;
  z-index: -1;
}
